{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Profile</h2>
<form method="post">
    {% csrf_token %}
    {{ user_form|crispy }}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<br/>

<p>Balance: {{ request.user.profile.balance }}</p>

<h2>Borrow History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Borrowed At</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.borrowed_at }}</td>
                <td>
                    <form method="post" action="{% url 'return-book' borrow.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Return</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
